<%= provide(:title, 'Users') %>

<div class="container">
  <h1>Users</h1>
  <table>
    <% @users.each do |f| %>
    <tr>
      <td><%= f.id %></td>
      <td><%= f.name %></td>
      <td><%= f.email %></td>
    </tr>
    <% end %>
  </table>
</div>